body {
    font-family: Arial;
    background-color: #e9a9a9;
}
h1{
    color: ##FB4645;
    margin-left: 740px;
    margin-right: 770px;
}
form {
    background-color: #fff;
    border: 2px solid #FB4645;
    padding: 20px;
    margin: 20px auto;
    width: 500px;
}
textarea {
    margin: 8px;
    padding: 0px;
    border: 2px solid #e9a9a9;
    width:97%;
}
select{
    margin: 8px;
    padding: 8px;
    border: 2px solid #e9a9a9;
    cursor: pointer;
    font-size: 16px;
}
input{
    margin: 8px;
    padding: 8px;
    border: 2px solid #e9a9a9;
}
input[type="file"]{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="radio"]{
    cursor: pointer;
}
input[type="submit"] {
    background-color: #FB4645;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
img{
    max-height: 70px;
    margin-left: 870px;
}
textarea{
    max-width: 600px;
}